<%- include("partials/header") %>

<div class="flex items-center justify-center min-h-screen bg-red-100 fixed w-full top-0 left-0 z-50 px-2">
  <div class="bg-white p-6 md:p-8 rounded-lg shadow-lg text-red-700 border border-red-300 w-full max-w-md">
    <h2 class="text-xl md:text-2xl font-bold mb-2 ">Access Denied</h2>
    <p class="text-sm">You must be connected to the Office WiFi network to access this page.</p>
    <p class="font-bold mt-2">THE MEDIA BUDDY-5G</p>
    <!-- <p>Your IP address: <%= ip %></p> -->
    <!-- <p>Your current WiFi (BSSID): <%= bssid %></p> -->
  </div>
</div>

<%- include("partials/footer") %>
