  </main>

  <!-- Footer -->
  <footer class="bg-white border-t mt-12 p-4 text-center text-sm text-gray-500">
    <p>&copy; <%= new Date().getFullYear() %>  All rights reserved.</p>
  </footer>




  <script src="https://unpkg.com/lucide@latest"></script>
  <script>
    lucide.createIcons();
    </script>
    <script src="/js/script.js"></script>
</body>
</html>
